dl.features {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

dl.features dt {
    font-weight: bold;
    background: url("../images/bullet.png") no-repeat left 50%;
}

dl.features dt,
dl.features dd {
    padding: 0 0 0 14px;
    margin: 0;
}

dl.features dd {
    font-size: .85em;
    color: #555;
    margin-bottom: 1em;
}

dl.features dt img {
    display: none;
}

dl.features span.new { 
    font-size: .75em; 
    font-weight: normal; 
    padding-left: 6px;
    color: #2f9bf0;
}